footer a {
    color: #fff !important; 
}

footer {
    height: 100px;
}

footer p {
    color: #fff !important; 
}

#input-form {
    height: 30px;
    width: 500px;
    border-color: #593196;
}

h1, h2, h3, h4, h5, h6 {
    color: #593196;
}
